# Enforce LF line endings for code and UI files

# Python
*.py text eol=lf

# Qt Designer UI files
*.ui text eol=lf

# Qt Resource Collection files
*.qrc text eol=lf

# Qt Stylesheets
*.qss text eol=lf

# JSON (optional)
*.json text eol=lf

# Init file just in case
__init__.py text eol=lf

# Catch-all for any text files
*.txt text eol=lf
