astroid==3.3.8
blinker==1.7.0
click==8.1.7
colorama==0.4.6
contourpy==1.2.0
cycler==0.12.1
dill==0.3.9
Flask==3.0.2
Flask-Mail==0.9.1
fonttools==4.49.0
isort==6.0.0
itsdangerous==2.1.2
Jinja2==3.1.3
kiwisolver==1.4.5
MarkupSafe==2.1.5
matplotlib==3.8.3
mccabe==0.7.0
mysql-connector-python==8.3.0
numpy==1.26.4
packaging==24.0
pandas==2.2.3
passlib==1.7.4
pillow==10.2.0
platformdirs==4.3.6
pylint==3.3.4
pyparsing==3.1.2
PyQt5==5.15.11
PyQt5-Qt5==5.15.2
PyQt5_sip==12.16.1
PySide6==6.8.1
PySide6_Addons==6.8.1
PySide6_Essentials==6.8.1
python-dateutil==2.9.0.post0
pytz==2025.1
shiboken6==6.8.1
six==1.16.0
tomlkit==0.13.2
tzdata==2025.1
Werkzeug==3.0.1
